In [3]:
import pandas as pd
import numpy as np


# **- Data Structures:**


1. Series: A one-dimensional array that can hold any data type.

In [ ]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

2. DataFrame: A two-dimensional table with labeled axes.

In [ ]:
data = {'Name': ['Zakariae', 'Mrabet', 'Apollo'],
        'Age': [21, 22, 75],
        'City': ['Oujda', 'Khouribga', 'Sydney']}
df = pd.DataFrame(data)
df

# **- Loading Data:**

1. Reading from CSV

In [8]:
df = pd.read_csv('your_file.csv')

2. Reading from Excel

In [7]:
df = pd.read_excel('your_file.xlsx')

# **- Exploratory Data Analysis (EDA):**

1. Display the first and last n rows.

In [ ]:
df.head()
df.tail()

2. Display a concise summary of the DataFrame.

In [ ]:
df.info()

3.  Generate descriptive statistics.

In [ ]:
df.describe()

4. Return the dimensions (rows, columns) of the DataFrame.

In [ ]:
df.shape

# **- Data Selection and Indexing:**

1. Selecting columns:

In [ ]:
df['ColumnName']
df.ColumnName

2. Selecting rows by index

In [ ]:
index = 5
df.loc[index]
df.iloc[index]

# **- Data Cleaning:**

1. Check for missing values.

In [ ]:
df.isnull()

2. Remove missing values.

In [ ]:
df.dropna()

3. Fill missing values with a specific value.

In [ ]:
value = "exemple"
df.fillna(value)

# **- Data Manipulation:**

1. Group data by a specific column.

In [ ]:
df.groupby('column')

2. Sort DataFrame by values.

In [ ]:
df.sort_values('column')

3. Merge two DataFrames.

In [ ]:
other_df = pd.DataFrame(data)
df.merge(other_df)

# **- Exporting Data**

1. Save to CSV

In [ ]:
df.to_csv('output.csv', index=False)

2. Save to Excel

In [ ]:
df.to_excel('output.xlsx', index=False)